body {
    font-family: Arial, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.babelFishConcept,
.voiceAgents {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.babelfish_video iframe,
.ff_video iframe,
.hawking_iframe iframe,
.video-container iframe {
    margin-left: 20%;
    width: 60%;
    height: 300px;
}

.societalImplications {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.societalImplications img {
    flex: 3;
    width: 50%;
    height: auto;
}

.video-carousel {
    margin: 20px;
}

.video-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.video-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-item span {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots li button {
    font-size: 12px;
    color: #007bff;
}

.slick-dots li.slick-active button {
    color: #007bff;
}
/* Slick Carousel Dots */
.slick-dots li button {
    font-size: 12px;
    color: #007bff;
}

.slick-dots li.slick-active button {
    color: #007bff;
}

/* Custom Arrow Styles */
.slick-prev, .slick-next {
    font-size: 36px;
    color: #007bff; /* Change the arrow color to a color that contrasts with the background */
    background-color: white; /* Change the background color of the arrows */
    border: 2px solid #007bff; /* Arrow border color */
    border-radius: 50%; /* Make the arrow circular */
    width: 50px; /* Arrow width */
    height: 50px; /* Arrow height */
    line-height: 50px; /* Center the arrow vertically */
    text-align: center;
    /* Ensure arrows appear above the carousel */
}

.slick-prev {
    left: -70px;
     /* Adjust the position of the previous arrow */
}

.slick-next {
    right: -70px; /* Adjust the position of the next arrow */
}


.tts-synthesis p,
.video-item h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.challenge h2 {
    color: #007bff;
}
