body {
    font-family: Arial, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background: #333;
    position: sticky;
    top: 0;
    margin: 10px;
    margin-top: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
 
  

header {
    background-color: #007bff;
    color: white;
    padding: 5px 0;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.babelFishConcept,
.voiceAgents {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.babelfish_video iframe,
.ff_video iframe,
.societalImplications img{

    margin-left: 10%; 
    width: 560px;
    height: 315px;
}
.hawking_iframe iframe,
.video-container iframe {
    margin-left: 5%;
    width: 560px;
    height: 315px;
}


.video-container h4{
    margin-left: 5%;
}
.societalImplications {
    /* display: flex; */
    /* flex-direction: row; */
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .carousel{
    background-color: rgba(0, 0, 0, 0.5);
} */


.video-carousel {
    margin: 20px;
}

.video-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.video-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-item span {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots li button {
    font-size: 12px;
    color: #007bff;
}

.slick-dots li.slick-active button {
    color: #007bff;
}
 Slick Carousel Dots 
 .slick-dots li button {
    font-size: 12px;
    color: #007bff;
    
} 

.slick-dots li.slick-active button {
    color: #007bff;
} 



.slick-prev {
    margin-left: 5px;
    
} 

 .slick-next {
    margin-right:5px; /* Adjust the position of the next arrow */
} 



.challenge h2 {
    color: #007bff;
}


/*--------------------------- For mobile screens ------------------------------------------------- */

@media only screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #333;
        width: 100%;
      }
    
      nav li {
        display: block;
      }
      .carousel{
        background-color: none;
    }
    
    
      .hamburger {
        float: right;
        display: block;
      }
    
      .dropdown-content {
        display: block;
      }

    header {
        margin: 10px;
        padding: 20px 0;
    }
    section, .babelFishConcept, .voiceAgents, .societalImplications {
        margin: 10px;
        padding: 10px;
    }
    .babelfish_video iframe, .ff_video iframe, .hawking_iframe iframe, .video-container iframe ,.societalImplications img 
    {
        width: 100%;
        margin-left: 0;
        height: 200px;
    }
    .video-container h4, .video-item h4 {
        margin-left: 10px;
    }
    .societalImplications {
        flex-direction: column;
    }
    .societalImplications img {
        width: 100%;
    }
     .video-carousel {
        margin-left: 0px;
    }

    .video-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .slick-prev, .slick-next {
        left: 16px;
        right: 10px;
    }
}


